*.class
*.log
.idea
.bsp
/js
*target
.DS_Store
/forgerock-compose/tmp/openam-data/*
/forgerock-compose/tmp/opendj-data/*
/forgerock-compose/tmp/opendj-backup/*

*.ensime*

node_modules

.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/

venv/
